
.contenedorCard {

    
    width: 270px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 30px;
    background-image: url('https://us.123rf.com/450wm/pitsvector/pitsvector1610/pitsvector161000147/67664951-ilustraci%C3%B3n-de-vector-de-fondo-espacio-y-estrella.jpg');
    
}


.name {
    
    font-family: url();
    width: 40%;
    padding-bottom: 5px;
    font-size: 15px;
    background: rgb(201,255,0);
    background: linear-gradient(90deg, rgba(201,255,0,1) 0%, rgba(158,163,46,1) 50%, rgba(28,144,13,1) 100%);
    margin: auto;

}

.img {

    object-fit: contain;
    width: 170px;
    border-radius: 25px;
    margin-top: 30px;
    border: 1px;
    border-color: rgb(201,255,0);
}

.info {
    
    display: grid;
    grid-gap: 5px;
    font-size: 13px;
    color: rgb(201,255,0);
    width: 250px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
}