
.contenedor {

    margin: auto;
    width: 70%;
    background: rgba(39, 34, 34, 0.987);
}

.inputStyle {

    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    width: 70px;
}

.botonStyle {

    background: rgb(201,255,0);
    background: linear-gradient(90deg, rgba(201,255,0,1) 0%, rgba(158,163,46,1) 50%, rgba(28,144,13,1) 100%);
    border-radius: 10px;
    font-size: 13px;
    width: 70px;
    height: 43px;
    border: none;
    margin: 14px;
  }